
.aside {
    display:none;
}
.like {
    margin-left:335px;
}
.price {
    font-weight:bold;
    height: 50px;
    width: auto;
    text-align: center;
    line-height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    color: black;

}